Repository abizmo/notifications-page: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

Add storybook
  .eslintrc.cjs
  .npmrc
  .storybook/main.cjs
  .storybook/preview-head.html
  .storybook/preview.cjs
  package-lock.json
  package.json
  prepare.cjs
  tests/App.test.tsx
  tests/setup.ts
Due: npm run lint, npm run format

Rename setup.ts to setupFile.js
  tests/setupFile.js
  vite.config.ts
Due: npm run lint, npm run format

Add storybook (#3)
  .eslintrc.cjs
  .npmrc
  .storybook/main.cjs
  .storybook/preview-head.html
  .storybook/preview.cjs
  package-lock.json
  package.json
  prepare.cjs
  tests/App.test.tsx
  tests/setupFile.js
  vite.config.ts
Due: npm run lint, npm run format

Add UnreadDot Component
  .eslintrc.cjs
  src/components/UnreadDot/UnreadDot.module.css
  src/components/UnreadDot/UnreadDot.stories.tsx
  src/components/UnreadDot/UnreadDot.tsx
  src/components/UnreadDot/index.ts
  src/components/index.ts
Due: npm run lint, npm run format

Move images to public folder
  public/images/avatar-angela-gray.webp
  public/images/avatar-anna-kim.webp
  public/images/avatar-jacob-thompson.webp
  public/images/avatar-kimberly-smith.webp
  public/images/avatar-mark-webber.webp
  public/images/avatar-nathan-peterson.webp
  public/images/avatar-rizky-hasanuddin.webp
  public/images/image-chess.webp
Due: none

Add global style in storybook
  .storybook/preview.cjs
Due: none

Fix: Remove globla style from UnreadDot
  src/components/UnreadDot/UnreadDot.stories.tsx
Due: npm run lint, npm run format

Add Image component (Avatar and Picture)
  src/components/Image/Image.module.css
  src/components/Image/Image.stories.tsx
  src/components/Image/Image.tsx
  src/components/Image/index.ts
  src/components/index.ts
Due: npm run lint, npm run format

Add Counter component
  src/App.css
  src/components/Counter/Counter.module.css
  src/components/Counter/Counter.stories.tsx
  src/components/Counter/Counter.tsx
  src/components/Counter/index.ts
Due: npm run lint, npm run format

Add Message component
  src/App.css
  src/components/Message/Message.module.css
  src/components/Message/Message.stories.tsx
  src/components/Message/Message.tsx
  src/components/Message/index.ts
Due: npm run lint, npm run format

Fix: Add fonts to Storybook
  .storybook/preview-head.html
Due: npm run format

Add Header component
  .storybook/main.cjs
  src/components/Header/Header.module.css
  src/components/Header/Header.stories.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/index.ts
Due: npm run lint, npm run format

Fix: Add Global style
  src/App.css
Due: npm run format

Fix: Add classnames in Header component
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
Due: npm run lint, npm run format

Refact: Add ImageProps interface
  src/components/Image/Image.tsx
Due: npm run lint, npm run format

Fix: Remove some css from Message
  src/components/Message/Message.module.css
Due: npm run format

Add getImageUrl util
  src/utils/getImageUrl.ts
  src/utils/index.ts
  src/utils/toKebabCase.ts
Due: npm run lint, npm run format

Add Notification for private message
  src/components/Notification/Notification.module.css
  src/components/Notification/Notification.stories.tsx
  src/components/Notification/Notification.tsx
  src/components/Notification/index.ts
  src/components/index.ts
Due: npm run lint, npm run format

Fix: Remove hover from Image component
  src/components/Image/Image.module.css
  src/components/Image/Image.stories.tsx
  src/components/Image/Image.tsx
Due: npm run lint, npm run format

Feat: Add Notification Component
  src/components/Notification/Notification.module.css
  src/components/Notification/Notification.stories.tsx
  src/components/Notification/Notification.tsx
Due: npm run lint, npm run format

Deploying to gh-pages from @ abizmo/notifications-page@b41392e38030a9db63e1ab915da354aaa5b5a56a 🚀
  images/avatar-angela-gray.webp
  images/avatar-anna-kim.webp
  images/avatar-jacob-thompson.webp
  images/avatar-kimberly-smith.webp
  images/avatar-mark-webber.webp
  images/avatar-nathan-peterson.webp
  images/avatar-rizky-hasanuddin.webp
  images/image-chess.webp
Due: none

Add getTimeAgo with luxon
  package-lock.json
  package.json
  src/utils/getTimeAgo.ts
  src/utils/index.ts
Due: npm run lint, npm run format

Refact Notification component based on the data
  src/assets/notifications.d.ts
  src/assets/notifications.json
  src/components/Notification/Notification.stories.tsx
  src/components/Notification/Notification.tsx
  src/utils/getImageUrl.ts
  src/utils/toKebabCase.ts
Due: npm run lint, npm run format

Fix: Remove unneed addon
  .storybook/main.cjs
Due: none

Feat: Add Notifications Page
  src/App.css
  src/App.tsx
  src/main.tsx
  src/pages/Notifications.tsx
  src/pages/index.ts
Due: npm run lint, npm run format

Fix: Notification type import
  src/pages/Notifications.tsx
Due: npm run lint, npm run format

Config cssmodules for test
  vite.config.ts
Due: npm run lint, npm run format

Test components
  src/components/Notification/Notification.tsx
  src/components/UnreadDot/UnreadDot.tsx
  tests/components/Counter.test.tsx
  tests/components/Header.test.tsx
  tests/components/Image.test.tsx
  tests/components/Message.test.tsx
  tests/components/Notification.test.tsx
  tests/components/UnreadDot.test.tsx
  tests/components/__snapshots__/Notification.test.tsx.snap
Due: npm run lint, npm run format

Fix Container class
  src/App.css
Due: npm run format

Feat: Add NotificationsList Component
  src/components/NotificationsList/NotificationsList.tsx
  src/components/NotificationsList/index.ts
  src/components/index.ts
  src/pages/Notifications.tsx
Due: npm run lint, npm run format

Add href to Picture component
  src/components/Notification/Notification.tsx
  src/components/NotificationsList/NotificationsList.tsx
Due: npm run lint, npm run format

Add href to Message component
  src/components/Notification/Notification.tsx
  src/components/NotificationsList/NotificationsList.tsx
Due: npm run lint, npm run format

Fix: Header Title color
  src/components/Header/Header.module.css
Due: npm run format

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,css,json,md})
